<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../materialize/css/materialize.css">
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/client.css">
    <title>Client</title>
</head>

<body>
    <h5 class="center-align">CLIENT</h5>
    <div class="row">
        <div class="coll">
            <!--Am not using this coll yett -->
            <div class="card-ppanel ">
                <span class="white-text">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Prenom du vendeur</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Nom du vendeur</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="tel" type="NUMBER" class="validate">
                                <label for="tel">TEL</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nin" type="number" class="validate">
                                <label for="nin">NIN</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="date" type="date" class="validate">
                                <label for="date">Date</label>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button
                                class="modal-close waves-effect waves-green btn-flat right btn-small deep-orange darken-3"
                                type="submit" name="action">Sauvegarder
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </span>
            </div>
        </div>
    </div>
    <div class="card-ppanel">
        <!-- Working on the list of Clients -->
        <!-- Modal Trigger -->
        <div class="center ">
            <a class="waves-effect  btn c-btn modal-trigger" href="#modal1">Voir Tous les clients</a>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content all-black">
                <h4>List de tous les Clients</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>TEL</th>
                            <th>Email</th>
                            <th>Nin</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>771234567</td>
                            <td>abc@gmail.com</td>
                            <td>00234156789</td>
                            <td>08-09-2021 </td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>779876543</td>
                            <td>def@gmail.com</td>
                            <td></td>
                            <td>11-19-2021 </td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>770358543</td>
                            <td></td>
                            <td></td>
                            <td>11-19-2021 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
    </div>

    <script src="../materialize/js/materialize.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>