{% extends 'dashboard/base.html' %}
{% load static %}

{% block body_content %}

<div class="card-panel">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="req_autocomplete">
                    <label for="autocomplete-input">Autocomplete</label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body_content %}
