{% extends 'dashboard/base.html' %}
{% load static %}

{% block body_content %}

<div class="row-table-inner">
    <div class="col s12">
        <div class="card-panel grey darken-3">
            <div class="card-panel-header__wrapper">
                <div class="white-text big-text">Stock Depot</div>
                <div class="bbtn">
                    <button data-target="modal1"
                        class="btn modal-trigger waves-effect waves-light btn-small light-blue">Ajouter
                        <i class="material-icons right">add</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-small red darken-4" type="submit"
                        name="action">Supprimer
                        <i class="material-icons right">delete_forever
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Produit</th>
                    <th>Date </th>
                    <th>prix minimum</th>
                    <th>Prix final</th>
                    <th>Garantie</th>
                    <th>Delete</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>1</td>
                    <td>SAC A LANGER GRIS</td>
                    <td>5/21/2021</td>
                    <td>900</td>
                    <td>1,000</td>
                    <td> OUI</td>
                    <td>
                        <form action="">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span></span>
                                </label>
                            </p>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>DOSEUR LAIT OU PUREE</td>
                    <td>1/22/2021</td>
                    <td>112,000</td>

                    <td>123,000</td>
                    <td> NON</td>
                    <td>
                        <form action="">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in"="" />
                                    <span></span>
                                </label>
                            </p>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>JEU ENFANT MIKADO EN BOIS</td>
                    <td>2/11/2021</td>
                    <td>209,000</td>

                    <td>212,000</td>
                    <td> NON</td>
                    <td>
                        <form action="">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span></span>
                                </label>
                            </p>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>VELO DE COURSE SERIOUS</td>
                    <td>4/09/2021</td>
                    <td>8,000</td>

                    <td>12,800</td>
                    <td> OUI</td>
                    <td>
                        <form action="">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span></span>
                                </label>
                            </p>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>



<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal">

    <div class="modal-content">
        <h4 class="center">Ajouter un client</h4>
        <div class="divider"></div>

        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Prenom du vendeur</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Nom du vendeur</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="produit" type="text" class="validate">
                    <label for="produit">Produit</label>
                </div>
                <div class="input-field col s6">
                    <select multiple>
                        <option value="" disabled selected>Indiquer la qualite</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Qualite</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="d-achat" type="date" class="validate">
                    <label for="d-achat">Date d'achat</label>
                </div>
                <div class="input-field col s6">
                    <input id="p-achat" type="number" min="0.00" max="10000000.00" class="validate">
                    <label for="p-achat">Prix d'achat</label>
                </div>
            </div>

            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat btn-small deep-orange darken-3"
                    type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button> </div>
        </form>

    </div>
</div>

</div>
</div>

{% endblock body_content %}