{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="row with-gap">

    <!--- Boutique Card -->
    <div class="col s12 m6 l3">
        <div class="card deep-orange accent-3">
            <div class="card-content white-text">
                <span class="card-title">Boutiques</span>
                <p class="p-adjust add_size">
                    <i class="material-icons small right"> store </i>
                    <span class="p-large i-adjust">012</span>
                </p>
            </div>
        </div>
    </div>

    <!--- Produit Card -->
    <div class="col s12 m6 l3">
        <div class="card deep-orange accent-3">
            <div class="card-content white-text">
                <span class="card-title">Produit</span>
                <p class="p-adjust add_size">
                    <i class="material-icons small right">shopping_cart</i>
                    <span class="p-large i-adjust ">123</span>
                </p>
            </div>
        </div>
    </div>

    <!--- Client Card -->
    <div class="col s12 m6 l3">
        <div class="card deep-orange accent-3">
            <div class="card-content white-text">
                <span class="card-title">Clients</span>
                <p class="p-adjust add_size">
                    <i class="material-icons small right">groups</i>
                    <span class="p-large i-adjust">2,110</span>
                </p>
            </div>
        </div>
    </div>

    <!--- Revenue Card -->
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content deep-orange-text accent-3">
                <span class="card-title">Revenue</span>
                <p class="p-adjust add_size ">
                    <i class="material-icons small right deep-orange-text accent-3">sell</i>
                    <span class="p-large i-adjust deep-orange-text accent-3">3M</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!---- Adding Chart Achat -->
<div class="row">
    <div class="col m8 s12">
        <div class="card-panel">
            <canvas id="myChart" class="chart_bar"></canvas>
        </div>
    </div>


    <div class="section-info-easy col m4 s12">
        <!------ Product Trend Section -->
        <ul class="deposit collection with-header">
            <li class="collection-header">
                Tendance Produit
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green accent-3 z-depth-2">trending_up</i>
                <span class="title"><i> Tendance Achat</i></span>
                <p>MacBook Pro<br>
                    achat: 10
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green accent-3 z-depth-2">trending_up</i>
                <span class="title"><i> Tendance Achat</i></span>
                <p>Galaxy S20<br>
                    achat: 7
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red darken-3">trending_down</i>
                <span class="title"><i>Tendance Depot</i></span>
                <p>Nokia Chargeur HP <br>
                    1
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red darken-3">trending_down</i>
                <span class="title"><i></i>Tendance Depot</span>
                <p>Nokia Ventilo<br>
                    0
                </p>
            </li>
        </ul>

    </div>

</div>

<!----- Tables: Achat et Depot -->
<div class="middle-section-easy row lefty">
    <!------ Section Wrapper of Tables: [8]-> 12 [now] columns-->
    <div class=" section-table-easy col s12">
        <!----- Table -->
        <div class="row-table-inner">
            <div class=" col  s12">
                <div class="card-panel grey lighten-1">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text"><b>Stock Achat</b></div>
                        <div class="bbtn">
                            <a href="{% url 'dashboard:buyingStockPage' %}" class=" waves-effect waves-light btn-small
                                deep-orange accent-3">
                                <i class="material-icons left">visibility</i>
                                Voir Tout
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <table class="responsive-table highlight">
                        <thead class="">
                            <tr>
                                <th>Reference</th>
                                <th>Vendeur</th>
                                <th>Produit</th>
                                <th>Qualite</th>
                                <th>Date</th>
                                <th>Prix </th>
                            </tr>
                        </thead>

                        <tbody>
                            <!----- Row: 1-->
                            <tr>
                                <td>1</td>
                                <td>Jeanette</td>
                                <td>SAC A LANGER GRIS</td>
                                <td>
                                    Bonne
                                </td>
                                <td>5/21/2021</td>
                                <td>1,000</td>
                            </tr>
                            <!----- Row: 2-->
                            <tr>
                                <td>2</td>
                                <td>ANtoine</td>
                                <td>DOSEUR LAIT OU PUREE</td>
                                <td>
                                    Normale
                                </td>
                                <td>1/22/2021</td>
                                <td>123,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row-table-inner">
            <!----- Table -->
            <div class="col s12">
                <div class="card-panel grey lighten-1">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text"><b>Stock Dépot</b></div>
                        <div class="bbtn">

                            <a href="{% url 'dashboard:depositStockPage' %}"
                                class="waves-effect waves-light btn-small deep-orange accent-3">
                                <i class=" material-icons left">visibility</i>
                                Voir Tout
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Produit</th>
                                <th>Date</th>
                                <th>prix minimum</th>
                                <th>Prix final</th>
                                <th>Garantie</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!----- Row: 1-->
                            <tr>
                                <td>1</td>
                                <td>SAC A LANGER GRIS</td>
                                <td>5/21/2021</td>
                                <td>900</td>
                                <td>1,000</td>
                                <td>OUI</td>
                            </tr>
                            <!----- Row: 2-->
                            <tr>
                                <td>2</td>
                                <td>DOSEUR LAIT OU PUREE</td>
                                <td>1/22/2021</td>
                                <td>112,000</td>
                                <td>123,000</td>
                                <td>NON</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock body_content %}

{% block javascripts %}
<script src="{% static 'dashboard/js/chart_easy.js' %}"></script>
{% endblock javascripts %}