{% extends 'dashboard/base.html' %}


{% block body_content %}


<div class="card-panel">

    <div class="row">
        <div class="col s12">
            <div class="card-panel deep-orange accent-3 white-text">
                Modifier votre mot de passe
                <a href="{% url 'accounts:profilePage' %}"
                    class="btn-flat deep-orange-text accent-3 grey accent-3 waves-effect white-text right">
                    <i class="material-icons right">keyboard_return</i>
                    <b>Retour</b>
                </a>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="btn-flat deep-orange-text accent-3 black waves-effect">
                    <i class="material-icons right">recommend</i>
                    Modifier
                </button>
            </form>
        </div>


    </div>


</div>


{% endblock body_content %}