{% extends 'dashboard/base.html' %}

{% block body_content %}

    <div class="row">

        <div class="col s12">
        
            <div class="card-panel">
                <div class="card-panel deep-orange accent-3">
                    <i class="material-icons right">edit</i>
                    Editer ... 
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    user.username
                    <div class="input-field col s12 m6">
                        <label for="{{ form.username.id_for_label }}">Prenom</label>
                        {{ form.username }}
                    </div>
                    <div class="input-field col s12 m6">
                        <label for="{{ form.first_name.id_for_label }}">Prenom</label>
                        {{ form.first_name }}
                    </div>
                    <div class="input-field col s12 m6">
                        <label for="{{ form.last_name.id_for_label }}">Nom</label>
                        {{ form.last_name }}
                    </div>

                    <div class="input-field col s12">
                        <label for="{{ form.email.id_for_label }}">Nouveau Email</label>
                        {{ form.email }}
                    </div>

                    <div class="row">
                        <div class="col s12 valign-wrapper">
                            <button type="submit" class="btn-flat deep-orange-text accent-3 waves-effect">
                                <i class="material-icons right">recommend</i>
                                Enregistrer
                            </button>
                            <a href="{% url 'accounts:passwordChangePage' user.pk %}" class="btn-flat blue-grey-text waves-effect">
                                <i class="material-icons">password</i>
                            </a>
                        </div>
                    </div>
                </form>
            
            </div>

        </div>
    
    </div>

{% endblock body_content %}