{% extends 'dashboard/base.html' %}
{% load static %}

{% block body_content %}

<div class="card-panel">

    <div class="row">
        <div class="col s12">
            <div class="card-panel deep-orange accent-3 white-text">
                <i class="material-icons right">person_add</i>
                Ajouter un nouveau Agent
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-field col s12">
                    <label for="{{ form.username.id_for_label }}">Nom d'Utilisateur</label>
                    {{ form.username }}
                </div>
                <div class="col s12">
                    <p class="small grey-text">Votre mot de passe ne peut pas être entièrement numérique.</p>
                    <p class="small grey-text"> Votre mot de passe doit contenir au minimum 8 caractères</p>
                </div>
                <div class="input-field col s12">
                    <label for="{{ form.password1.id_for_label }}">Mot de Passe</label>
                    {{ form.password1 }}
                </div>
                <div class="input-field col s12">
                    <label for="{{ form.password2.id_for_label }}">Mot de Passe de Confirmation</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn-flat deep-orange-text accent-3 black waves-effect">
                    <i class="material-icons right">recommend</i>
                    Creer
                </button>
                <a href="{% url 'accounts:profilePage' %}"
                    class="btn-flat red accen-3 white-text accent-3 waves-effect">
                    <i class="material-icons right">keyboard_return</i>
                    Retour
                </a>
            </form>
        </div>
    </div>

</div>


{% endblock body_content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/js/materializeSelect.js' %}"></script>
{% endblock javascripts %}