<!-- Static assets -->
{% load static %}


 <!------ Navigation Bar: Based on materializecss -->

    <header>
        <h5 class="valign-wrapper">
            <label for="nav-toggle">
                <span class="material-icons">menu</span>
            </label> 
            Dashboard
        </h5>
        <div class="search-wrapper">
            <span class="material-icons">search</span>
            <input type="search" name="search" id="search" placeholder="Search here..." />
        </div>
        <div class="miscellaneous">
            <button class="notifBtn">
                <span class="new badge">4</span>
                <span class="material-icons notif">notifications</span>
            </button>
            <button class="persBtn">
                <span class="material-icons pers">person</span>
            </button>
        </div>
    </header>

 <!------ End of Navigation Bar -->