<!-- Static assets -->
{% load static %}
{% load notifications_tags %}


 <!------ Navigation Bar: Based on materializecss -->

    <header>
        <h5 class="valign-wrapper">
            <label for="nav-toggle">
                <span class="material-icons">menu</span>
            </label> 
            Dashboard
        </h5>
        <div class="search-wrapper">
            <span class="material-icons">search</span>
            <input type="search" name="search" id="search" placeholder="Search here..." />
        </div>
        <div class="miscellaneous">
            <a class="waves-effect waves-light btn-flat orange-text darken-4" href="{% url 'message:messagePage' %}">
                {% notifications_unread as unread_count %}
                {% if unread_count %}
                    <span class="new badge left">{{ unread_count }}</span>
                {% endif %}
                <span class="material-icons">notifications</span>
            </a>
            <a class="waves-effect waves-light dropdown-trigger btn-flat orange-text darken-4" data-target="dropdown_notif">
                <span class="material-icons pers">person</span>
            </a>
            <ul id='dropdown_notif' class=' collection dropdown-content'>
                <li class="collection-item">
                    <a href="{% url 'dashboard:profilePage' %}" class="orange-text darken-4">
                        Mon Profile
                        <i class="material-icons secondary-content right">settings</i>
                    </a>
                </li>
                <li class="collection-item">
                        <a href="{% url 'accounts:logoutPage' %}" class="orange-text darken-4">
                            Se Deconnecter
                            <i class="material-icons secondary-content right">logout</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

 <!------ End of Navigation Bar -->