<!-- Static assets -->
{% load static %}
{% load notification_tags %}

 <!------ Navigation Bar: Based on materializecss -->

    <header>
        <h5 class="valign-wrapper">
            <label for="nav-toggle">
                <span class="material-icons">menu</span>
            </label> 
            Dashboard
        </h5>
        <div class="search-wrapper">
            <span class="material-icons">search</span>
            <input type="search" name="search" id="search" placeholder="Search here..." />
        </div>
        <div class="miscellaneous">
            <a class="waves-effect waves-light btn-flat deep-orange-text accent-3
            {% if not user.is_superuser %} disabled {% endif %}" href="{% url 'notifications:notificationPage' %}">
                {% if user.is_superuser %}
                    <span class="new badge red">{% notification_count %}</span>
                    <span class="material-icons">notifications</span>
                {% endif %}
            </a>
            <a class="waves-effect waves-light dropdown-trigger btn-flat deep-orange-text accent-3" data-target="dropdown_notif">
                <span class="material-icons pers">person</span>
            </a>
            <ul id='dropdown_notif' class=' collection dropdown-content'>
                <li class="collection-item">
                    <a href="{% url 'accounts:profileUpdatePage' user.shop_user_related.pk %}" class="orange-text darken-4">
                        Mon Profile
                        <i class="material-icons secondary-content right">settings</i>
                    </a>
                </li>
                <li class="collection-item">
                        <a href="{% url 'accounts:logoutPage' %}" class="orange-text darken-4">
                            Se Deconnecter
                            <i class="material-icons secondary-content right">logout</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

 <!------ End of Navigation Bar -->