<!-- Static assets -->
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'dashboard/materialize/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/script.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'dashboard/js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'dashboard/js/chart_easy.js' %}"></script>