<!-- Static assets -->
{% load static %}

<!-- Navbar -->
<input type="checkbox" name="navToggle" id="nav-toggle" />
<div class="easy-sidebar">
    <div class="easy-sidebar-brand center">
        <img src="{% static 'dashboard/images/logo.png' %}" alt="Easy Money Logo" width="80" height="80">
    </div>
    <div class="easy-sidebar-menu">
        <div class="user-wrapper black ">
            <img src="{{ user.shop_user_related.avatar.url }}" alt="User" width="50px" height="50px" />
            <ul class="user-inner-wrapper">
                <li>
                    <h5><b>{{ user.username }}</b></h5>
                </li>
                <li><small>{% if user.is_superuser %}Super Admin {% else %} Administrateur {% endif %}</small></li>
            </ul>
        </div>
        <ul class="add_scroll">
            <li>
                <a {% if '/' == request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:homePage' %}">
                    <span class="material-icons"> dashboard </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a {% if 'client' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:clientPage' %}">
                    <span class="material-icons"> person_add </span>
                    <span>Clients</span>
                </a>
            </li>
            <li>
                <a {% if 'produit' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:productPage' %}" class="">
                    <span class="material-icons"> local_mall </span>
                    <span>Produits</span>
                </a>
            </li>
            <li>
                <a {% if 'vente' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:ventePage' %}">
                    <span class="material-icons"> price_check </span>
                    <span>Ventes</span>
                </a>
            </li>
            <li>
                <a {% if 'achat_direct' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:achatDirectPage' %}">
                    <span class="material-icons"> add_shopping_cart </span>
                    <span>Achats Directs</span>
                </a>
            </li>
            <li>
                <a {% if 'depot_vent' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:depotVentePage' %}">
                    <span class="material-icons"> airline_stops </span>
                    <span>Dépots Ventes</span>
                </a>
            </li>
            <li>
                <a {% if 'demande_clien' in request.path  %} class="active" {% else %} class="" {% endif %}
                    href="{% url 'dashboard:clientRequestPage' %}">
                    <span class="material-icons"> history_edu </span>
                    <span>Demande Client</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Navbar -->