<!-- Static assets -->
{% load static %}

<!-- Navbar -->
<input type="checkbox" name="navToggle" id="nav-toggle" />
<div class="easy-sidebar">
    <div class="easy-sidebar-brand">
        <h5>
            <span>EASY MONEY</span>
        </h5>
    </div>
    <div class="easy-sidebar-menu">
        <div class="user-wrapper">
            <img src="{% static 'dashboard/images/user.jpg' %}" alt="User" width="50px" height="50px" />
            <ul class="user-inner-wrapper">
                <li>
                    <h5>Damien</h5>
                </li>
                <li><small>Super Admin</small></li>
            </ul>
        </div>
        <ul class="add_scroll">
            <li>
                <a href="{% url 'dashboard:homePage' %}" class="active">
                    <span class="material-icons"> dashboard </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:clientPage' %}">
                    <span class="material-icons"> person_add </span>
                    <span>Clients</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:productPage' %}" class="">
                    <span class="material-icons"> local_mall </span>
                    <span>Produits</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:buyingStockPage' %}">
                    <span class="material-icons"> price_check </span>
                    <span>Achat</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:depositStockPage' %}">
                    <span class="material-icons"> add_shopping_cart </span>
                    <span>Depots</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:clientRequestPage' %}">
                    <span class="material-icons"> history_edu </span>
                    <span>Demande Client</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Navbar -->