{% extends 'dashboard/base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<!-- Adding Card Table  -->

<div class="row">
    <div id="man" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Produit Recherchés</span>
                <div class="actions">
                    <a href="#" class="modal-trigger waves-effect btn-flat nopadding"><i
                            class="material-icons">person_add</i></a>
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i
                            class="material-icons">search</i></a>
                </div>
            </div>
            <table id="datatable" class="responsive-table">
                <thead>

                    <tr>
                        <th>name</th>
                        <th>produit</th>
                        <th>numero</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c_req in client_requests%}
                    <tr>
                        <td>{{c_req.client.fname}} {{c_req.client.lname}}</td>
                        <td> {{c_req.produit_demander}} </td>
                        <td>{{c_req.client.numero}}</td>
                        <td>{{c_req.client.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- #####################################  -->

<!-- Adding Card Table End -->

<div class=" card-panel row">

    <div class="card-title center-align">
        <h4>Ajouter une demande d'un client.</h4>
    </div>
    <div class="card-container col s12 center-align">

        <div class=" col s12">
            <form class="col s12" method='POST'>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.client }}
                        <label for="{{ form.client.id_for_label }}">Nom</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.produit_demander }}
                        <label for="{{ form.produit_demander.id_for_label }}">Produit</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 textarea">
                        {{ form.description }}
                        <label for="{{ form.description.id_for_label }}"> Description</label>
                    </div>
                </div>
                <div class=" for-hover">
                    <div class="row center-align ">
                        <button type='submit' class=" btn way-bigger black b-large deep-orange-text accent-3">
                            <i class="material-icons left"></i>Enregistrer
                        </button>
                    </div>
                    <a href="{% url 'dashboard:clientPage' %}"
                        class="waves-effect waves-light btn way-bigger deep-orange accent-3 center-align black-text">
                        ajouter le client <br> <i class="material-icons center-align medium">add</i>
                        <i class="material-icons large center-align">people</i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body_content %}


{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
{% endblock javascripts %}