{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="row">
  <!----Row 1-->
  <div class="col s12 m4">
    <div class="card-panel">
      <div class="row valign-wrapper">
        <div class="col s4">
          <span class="material-icons dummy_icon">category</span>
        </div>
        <div class="col s8">
          <span class="dummy_info">Produits</span>
        </div>
      </div>
    </div>
    <div class="card-panel black deep-orange-text accent-3">
      <div class="card-title center dummy_info">{{ count_item }}</div>
    </div>
  </div>
  <!----Row 2-->
  <div class="col s12 m4">
    <div class="card-panel">
      <div class="row valign-wrapper">
        <div class="col s4">
          <span class="material-icons dummy_icon">paid</span>
        </div>
        <div class="col s8">
          <span class="dummy_info">Dépensé</span>
        </div>
      </div>
    </div>
    <div class="card-panel black deep-orange-text accent-3">
      <div class="card-title center dummy_info">{{ spent|floatformat:0|intcomma}} C.FCA</div>
    </div>
  </div>
  <!----Row 3-->
  <div class="col s12 m4">
    <div class="card-panel black deep-orange-text accent-3">
      <div class="row valign-wrapper">
        <div class="col s4">
          <span class="material-icons dummy_icon">savings</span>
        </div>
        <div class="col s8">
          <span class="dummy_info">Benefice</span>
        </div>
      </div>
    </div>
    <div class="card-panel">
      <div class="card-title center dummy_info">{{ benefice|floatformat:0|intcomma}} C.FCA</div>
    </div>
  </div>
</div>

<!-- I'll add a graph in here -->

<div class="row">
  <div class="col s8">
    <!---- Adding Chart Achat -->
    <div class="card-panel">
      <canvas id="achatChart" width="400" height="200"></canvas>
    </div>
  </div>
  <div class="col s4">
    <ul class="deposit collection with-header">
      <li class="collection-header">
        Tendance Dépot
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red accent-3 z-depth-2">trending_down</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- End graph -->

<div class="card-panel deep-orange accent-3 white-text big-text">
  <b>Formulaire d'Achat</b>
  <i class="material-icons right">sell</i>
</div>
<div class="card-panel">
  <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <!--- Form -->
    <div class="row" id="venteID">
      <div class="input-field col s10">
        {{ form.produit }}
        <label for="{{form.produit.id_for_label}}">Produit</label>
      </div>
      <div class="input-field col s2">
        <a href="{% url 'dashboard:productPage' %}" name="clientID"
          class="btn-flat deep-orange-text accent-3 tooltipped" data-position="bottom" data-tooltip="Nouveau Produit">
          <i class="material-icons right">local_mall</i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{ form.price }}
        <label for="{{ form.price.id_for_label }}">Prix d'Achat</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-green btn-flat" type="submit">
          <i class="material-icons right deep-orange-text accent-3 right">thumb_up_alt</i>
          <b class="deep-orange-text accent-3">Enregistrer</b>
        </button>
      </div>
    </div>
  </form>
</div>



<!------- Section R3002: - Deposit stock [] -->

<div class="row">
  <div id="man" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Liste Achat Direct</span>
        <div class="actions">
          <a href="#man" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>
      <table id="datatable" class="responsive-table">
        <thead>
          <tr>
            <th>Vendeur</th>
            <th>Produit</th>
            <th>Etat</th>
            <th>Prix Achat</th>
            <th>Date Achat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ad in achat_directs %}
          <tr>
            <td> {{ ad.produit.seller }} </td>
            <td> {{ ad.produit.name }}</td>
            {% if ad.produit.estate == "NEUF" %}
            <td><span class="new badge green" data-badge-caption="{{ ad.produit.estate }}"></span></td>
            {% elif ad.produit.estate == "BON" %}
            <td><span class="new badge light-green" data-badge-caption="{{ ad.produit.estate }}"></span></td>
            {% elif ad.produit.estate == "MOYEN" %}
            <td><span class="new badge yellow" data-badge-caption="{{ ad.produit.estate }}"></span></td>
            {% elif ad.produit.estate == "MAUVAIS" %}
            <td><span class="new badge light-red" data-badge-caption="{{ ad.produit.estate }}"></span></td>
            {% else %}
            <td><span class="new badge red" data-badge-caption="{{ ad.produit.estate }}"></span></td>
            {% endif %}
            <td>{{ ad.price|floatformat:0|intcomma}}</td>
            <td>{{ ad.created_date|date:"SHORT_DATE_FORMAT"}}</td>
            <td class="actions">
              <a href="{% url 'dashboard:achatDirectDetailPage' ad.pk %}"
                class="orange-text darken-4 waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Voir"><span class="material-icons">visibility</span></a>
              <a href="{% url 'dashboard:achatDirectEditPage' ad.pk %}"
                class="green-text darken-4 waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Modifier"><span class="material-icons">update</span></a>
              <a href="{% url 'dashboard:achatDirectkDeletePage' ad.pk %}"
                class="red-text accent-4 waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Supprimer"><span class="material-icons">delete</span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body_content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
<script>
  var dataset_achat_direct = JSON.parse('{{dataset_achat_direct}}')
</script>
<script type="text/javascript" src="{% static 'dashboard/js/chart_achat_direct.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
{% endblock javascripts %}