{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}
  
  <div class="row">
    <!----Row 1-->
    <div class="col s12 m4">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <span class="material-icons dummy_icon">category</span>
          </div>
          <div class="col s8">
            <span class="dummy_info">Vendu</span> 
          </div>
        </div>
      </div>
      <div class="card-panel orange darken-4">
        <div class="card-title center dummy_info">{{ count_item }}</div>
      </div>
    </div>  
    <!----Row 2-->
    <div class="col s12 m4">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <span class="material-icons dummy_icon">paid</span>
          </div>
          <div class="col s8">
            <span class="dummy_info">Revenu</span> 
          </div>
        </div>
      </div>
      <div class="card-panel orange darken-4">
        <div class="card-title center dummy_info">{{ revenue|floatformat:0|intcomma}} C.FCA</div>
      </div>
    </div>
    <!----Row 3-->
    <div class="col s12 m4">
      <div class="card-panel orange darken-4">
        <div class="row valign-wrapper">
          <div class="col s4">
            <span class="material-icons dummy_icon">savings</span>
          </div>
          <div class="col s8">
            <span class="dummy_info">Benefice</span> 
          </div>
        </div>
      </div>
      <div class="card-panel">
        <div class="card-title center dummy_info">{{ benefice|floatformat:0|intcomma}} C.FCA</div>
      </div>
    </div>
  
  </div>

<!-- I'll add a graph in here -->
<div class="row">
    <div class="col s8">
        <!---- Adding Chart Achat -->
        <div class="card-panel">
            <canvas id="salesChart" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="col s4">
      <ul class="deposit collection with-header">
        <li class="collection-header">
          Tendance Achat
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green accent-3 z-depth-2">trending_up</i>
          <span class="title">Title</span>
          <p>First Line <br>
            Second Line
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">folder</i>
          <span class="title">Title</span>
          <p>First Line <br>
            Second Line
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <span class="title">Title</span>
          <p>First Line <br>
            Second Line
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Title</span>
          <p>First Line <br>
            Second Line
          </p>
        </li>
      </ul>
    </div>
</div>

<!-- End graph -->

<!-------- Modal -->
<div id="saleStock" class="modal">
    <div class="modal-content">
      <div class="card-panel orange darken-4">Nouveau Depot <i class="material-icons right">add_shopping_cart</i></div>
      <form action="" method="post">
        {% csrf_token %}
        
        <!--- Form -->
        <div class="row">
          <div class="input-field col s6">
              {{ form.produit }}
              <label for="{{ form.produit.id_for_label }}">Produit</label>
          </div>
          <div class="input-field col s6">
              {{ form.prix_de_vente_min }}
              <label for="{{ form.prix_de_vente_min.id_for_label }}">Prix de vente minimal</label>
          </div>
          <div class="input-field col s6">
              {{ form.prix_de_vente_fin }}
              <label for="{{ form.prix_de_vente_fin.id_for_label }}">Prix de vente final</label>
          </div>
          <div class="col s12">
            <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">health_and_safety</i> Assurez-vous une garantie pour ce produit ?</div>
              <div class="collapsible-body">
                <span>
                  <div class="input-field col s6">
                    <label for="{{ form.garantie.id_for_label }}"> 
                      {{ form.garantie }}
                      <span>Garantie</span> 
                    </label>
                  </div>
                  <div class="input-field col s6">
                      {{ form.delai_garantie }}
                      <label for="{{ form.delai_garantie.id_for_label }}">Delai garantie</label>
                  </div>
                </span>
              </div>                
            </li>
          </ul>
          </div>
        </div>

        <div class="modal-footer">
        <a href="{% url 'dashboard:buyingStockPage' %}" class="waves-effect btn-flat nopadding"><i class="material-icons">local_mall</i></a>
          <button class="modal-close waves-effect waves-green btn-flat" type="submit">
            <i class="material-icons right">thumb_up_alt</i>
          </button>
        </div>
     </form>
    </div>
    
  </div>


<!------- Section R3002: - Deposit stock [] -->

<div class="row">
  <div id="man" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Achat</span>
        <div class="actions">
          <a href="#saleStock" class="modal-trigger waves-effect btn-flat nopadding tooltipped" data-position="top" data-tooltip="Nouveau Achat"><i class="material-icons">price_check</i></a>
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>
      <table id="datatable" class="responsive-table">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Date de vente</th>
            <th>Prix de vente minimal</th>
            <th>Prix de vente final</th>
            <th>Garantie</th>
            <th>Delai garantie</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bs in buying_stocks %}
            <tr>
              <td> {{ bs.produit }} </td>
              <td> {{ bs.date_de_vente }}</td>
              {% if bs.prix_de_vente_min %}
                <td> {{ bs.prix_de_vente_min|floatformat:0|intcomma }}</td>
                {% else %}
                <td> ----- </td>
              {% endif %}
              <td> {{ bs.prix_de_vente_fin|floatformat:0|intcomma }}</td>

              <td>{{ bs.garantie|yesno:"OUI, NON" }}</td>
              
            {% if bs.garantie %}
                <td> {{ bs.delai_garantie }} </td>
            {% else %}
                <td> Pas de garantie </td>
            {% endif %}
              <td class="actions">
                <a href="{% url 'dashboard:buyingStockDetailPage' bs.pk %}" class="orange-text darken-4 waves-effect btn-flat tooltipped" data-position="left" data-tooltip="Voir Achat"><span class="material-icons">visibility</span></a>
                <a href="{% url 'dashboard:buyingStockEditPage' bs.pk %}" class="green-text darken-4 waves-effect btn-flat tooltipped" data-position="left" data-tooltip="Modifier Achat"><span class="material-icons">update</span></a>
                <a href="{% url 'dashboard:buyingStockDeletePage' bs.pk %}" class="red-text accent-4 waves-effect btn-flat tooltipped" data-position="left" data-tooltip="Supprimer Achat"><span class="material-icons">delete</span></a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock body_content %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/chart_sales.js' %}"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
{% endblock javascripts %}