{% extends 'dashboard/base.html' %} {% load static %} {% block stylesheets %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'dashboard/css/style.css' %}"
/>
{% endblock stylesheets %} {% block body_content %}

<div class="top-section">
  <a
    href="{% url 'accounts:userCreationPage' %}"
    class="waves-effect waves-light btn"
    class="left-align"
  >
    <i class="material-icons right">plus</i> Utilisateur
  </a>
  <a
    href="{% url 'accounts:shopCreationPage' %}"
    class="waves-effect waves-light btn"
    class="left-align"
  >
    <i class="material-icons right">plus</i> Boutique
  </a>

  <a
    href="#"
    class="dropdown-trigger btn right-align"
    data-target="documentDropdown"
  >
    <i class="material-icons">report</i>
    Reports
  </a>
  <ul id="documentDropdown" class="dropdown-content">
    <li><a href="#!">Produits</a></li>
    <li><a href="#!">Clients</a></li>
    <li><a href="#!">Ventes</a></li>
  </ul>
</div>

<div class="form-section">
  <form action="{% url 'accounts:profilePage' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col s12 m8">
        <div class="card-panel">
          <div class="row">
            <div class="col s12">
              <div class="card-panel deep-orange accent-3 white-text">
                <span> Information de Profile </span>
              </div>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="first_name"
                id="first_name"
                value="{{ userprofile.user.first_name }}"
                required
              />
              <label for="first_name">Prenom</label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="last_name"
                id="last_name"
                value="{{ userprofile.user.last_name }}"
                required
              />
              <label for="last_name">Nom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">calendar</i>
              <input
                type="text"
                class="datepicker"
                name="birthday"
                id="birthday"
                value="{{ userprofile.birthday|date:'m/d/Y'|default:'' }}"
                required
              />
              <label for="birthday">Date de Naissance</label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="gender"
                id="gender"
                value="{{ userprofile.gender }}"
                required
              />
              <label for="gender">Sexe</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input
                type="email"
                name="email"
                id="email"
                value="{{ userprofile.user.email }}"
                required
              />
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="phone_number"
                placeholder="+221 7X XXX XX XX"
                id="phone_number"
                value="{{ userprofile.phone_number|default:'' }}"
                required
              />
              <label for="phone_number">Telephone</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card-panel deep-orange accent-3 white-text">
                <span> <b>Adresse</b> </span>
              </div>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="address"
                id="address"
                value="{{ userprofile.address|default:'' }}"
                required
              />
              <label for="address">Adresse</label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="city"
                id="city"
                value="{{ userprofile.city|default:'' }}"
                required
              />
              <label for="city">Ville</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input
                type="text"
                name="number"
                id="number"
                value="{{ userprofile.number|default:'' }}"
                required
              />
              <label for="address">Numero Maison</label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                name="zip"
                id="zip"
                value="{{ userprofile.zip|default:'' }}"
                required
              />
              <label for="city">Code Postal</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button class="waves-effect waves-light deep-orange accent-3 white-text">
                Tout Enregistrer
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel">
          <div class="row center">
            <div class="col s12">
              <img src="{{ userprofile.avatar.url }}" alt="User" width="100px" height="100px" class='circle' />
            </div>
            <div class="col s12">
              <p><b>{{ userprofile.user.username }}</b></p>
            </div>
            <div class="col s12">
              <p>{{ userprofile.user.first_name }}  {{ userprofile.user.last_name }}</p>
            </div>
            <div class="col s12">
              <p>{{ userprofile.user.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock body_content %} {% block javascripts %}
<script>
  var datePicker = document.querySelectorAll(".datepicker");
  M.Datepicker.init(datePicker, {});
</script>
{% endblock javascripts %}
