{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="row">

  <div class="card-panel">

    <div class="card-panel deep-orange accent-3">
      <i class="material-icons left">account_circle</i>
      <b>Information Profil</b>
    </div>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <div class="input-field col s6">
          {{ user_form.first_name }}
          <label for="{{ user_form.first_name.id_for_label }}">Prénom</label>
        </div>
        <div class="input-field col s6">
          {{ user_form.last_name }}
          <label for="{{ user_form.last_name.id_for_label }}">Nom</label>
        </div>
        <div class="col s12 input-field">
          {{ user_form.email }}
          <label for="{{ user_form.email.id_for_label }}">Email</label>
        </div>
        <!-------Separator -->
        <div class="col s12">
          <div class="card-panel deep-orange accent-3">
            <i class="material-icons left">assignment_ind</i>
            <b>Information Agence</b>
          </div>
        </div>

        {{ formset.management_form }}
        {% for form in formset %}
          <div class="col s6 input-field">
            {{ form.agency }}
            <label for="{{ form.agency.id_for_label }}">Agence</label>
          </div>
          <div class="file-field input-field col s6">
            <div class="btn">
              <span>Avatar</span>
              {{ form.avatar }}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Choisir une image de profil.">
            </div>
          </div>
          <div class="col s6 input-field">
            {{ form.phone_number }}
            <label for="{{ form.phone_number.id_for_label }}">Numéro de téléphone</label>
          </div>
          <div class="col s6 input-field">
            {{ form.gender }}
            <label for="{{ form.gender.id_for_label }}">Genre</label>
          </div>

          <div class="col s12">
            <div class="card-panel deep-orange accent-3">
              <i class="material-icons left">place</i>
              <b>Information Adresse</b>
            </div>
          </div>

          <div class="input-field col s12">
            {{ form.address }}
            <label for="{{ form.address.id_for_label }}">Adresse</label>
          </div>

          <div class="input-field col s4">
            {{ form.city }}
            <label for="{{ form.city.id_for_label }}">Ville</label>
          </div>
          <div class="input-field col s4">
            {{ form.number }}
            <label for="{{ form.number.id_for_label }}">N° Villa</label>
          </div>
          <div class="input-field col s4">
            {{ form.zip }}
            <label for="{{ form.zip.id_for_label }}">Zip Code</label>
          </div>
        {% endfor %}

        <button type="submit" class="btn-flat waves-effect deep-orange-text accent-3 black right">
          <b>
            Modifier <i class="material-icons right">done</i>
          </b> 
        </button>

      </form>
    </div>

  </div>

</div>


{% endblock body_content %}