{% extends 'dashboard/base.html' %}

{% block body_content %}

<div class="card-panel">

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="waves-effect btn blue darken-3">
            Ajouter
            <i class="material-icons right">add</i>
        </button>
    </form>
    
</div>

<div class="card-panel">
    <div class="row-table-inner">
        <div class="col s12">
            <div class="card-panel grey darken-3">
                <div class="card-panel-header__wrapper">
                    <div class="white-text big-text">Voir Tous les Produits</div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table>
            <tbody>
                {% for product in products %}
                <tr>
                    <th> {{ product.nom_du_produit }}</th>
                    <th>{{ product.model }}</th>
                    <th>
                        <a href="{% url 'dashboard:productDetailPage' product.pk %}"><i
                                class="material-icons right">see_more</i></a>
                        <a href="{% url 'dashboard:productEditPage' product.pk %}"><i
                                class="material-icons right">update</i></a>
                        <a href="{% url 'dashboard:productDeletePage' product.pk %}"><i
                                class="material-icons right">delete</i></a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock body_content %}