{% extends 'dashboard/base.html' %}

{% block body_content %}

<div class="card-panel">

    <div class="row">
        <form class="col s12" method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.nom_du_produit }}
                    <label for="{{ form.nom_du_produit.id_for_label }}">Nom du produit</label>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            {{ form.model }}
            <label for="{{ form.model.id_for_label }}">Model</label>
        </div>
        <div class="input-field col s4">
            {{ form.edition }}
            <label for="{{ form.edition.id_for_label }}">Edition</label>
        </div>
        <div class="input-field col s4">
            {{ form.annee }}
            <label for="{{ form.annee.id_for_label }}">Annee</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            {{ form.nombre_de_giga }}
            <label for="{{ form.model.id_for_label }}">Giga</label>
        </div>
        <div class="input-field col s3">
            {{ form.nombre_de_ram }}
            <label for="{{ form.edition.id_for_label }}">RAM</label>
        </div>
        <div class="input-field col s3">
            {{ form.poids }}
            <label for="{{ form.poids.id_for_label }}">Masse</label>
        </div>
        <div class="input-field col s3">
            {{ form.dimensions }}
            <label for="{{ form.dimensions.id_for_label }}">Dimensions</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <label>
                {{ form.chargeurs }}
                <span>Chargeur</span>
            </label>
        </div>
        <div class="input-field col s6">
            <label>
                {{ form.boite_origine }}
                <span>Boite d'origine</span>
            </label>
        </div>
    </div>
    <br><br>
    <div class="bbtn ">
        <button data-target="modal1"
            class="btn btn-large center-align modal-trigger waves-effect waves-light btn-small light-blue">Ajouter
            <i class="material-icons right ">add</i>
        </button>
    </div>

    </form>
</div>

</div>

<div class="card-panel">
    <div class="row-table-inner">
        <div class="col s12">
            <div class="card-panel grey darken-3">
                <div class="card-panel-header__wrapper">
                    <div class="white-text big-text">Voir Tous les Produits</div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table>
            <tbody>
                {% for product in products %}
                <tr>
                    <th> {{ product.nom_du_produit }}</th>
                    <th>{{ product.model }}</th>
                    <th>
                        <a href="{% url 'dashboard:productDetailPage' product.pk %}"><i
                                class="material-icons right">see_more</i></a>
                        <a href="{% url 'dashboard:productEditPage' product.pk %}"><i
                                class="material-icons right">update</i></a>
                        <a href="{% url 'dashboard:productDeletePage' product.pk %}"><i
                                class="material-icons right">delete</i></a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock body_content %}