{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

    <div class="card-panel">
        <div class="card-panel orange darken-4"><b>Editer un produit</b><a href="{% url 'dashboard:productPage' %}" class="btn-flat waves-effect right"><i class="material-icons right">keyboard_return</i></a></div>
            <div class="info_text valign-wrapper">
                <p class="blue-text lighten-2">
                    <small>
                        Vous êtes entrain de modifier les informations d'un produit.
                        Vous pouvez toujours retourner en cliquant sur l'icon d'en haut.
                    </small>
                </p>
            </div>
             <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s3">
                        {{ form.name}}
                        <label for="{{form.name.id_for_label}}">Nom du produit</label>
                    </div>
                    <div class="input-field col s3">
                        {{ form.model }}
                        <label for="{{form.model.id_for_label}}">Model du produit</label>
                    </div>
                    <div class="input-field col s3">
                        {{form.edition}}
                        <label for="{{form.edition.id_for_label}}">Edition</label>
                    </div>
                    <div class="input-field col s3">
                        {{form.annee}}
                        <label for="{{form.annee.id_for_label}}">Année</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {{form.storage}}
                        <label for="{{form.storage.id_for_label}}">Nombre de giga</label>
                    </div>
                    <div class="input-field col s3">
                        {{form.ram}}
                        <label for="{{form.ram.id_for_label}}">Nombre de ram</label>
                    </div>
                    <div class="input-field col s6">
                        {{form.dimension}}
                        <label for="{{form.dimension.id_for_label}}">Dimensions</label>
                    </div>   
                </div>

                <div class="row">
                    <div class="col s4 left-align">
                        <p>
                            <label>
                                {{form.original_box}}
                                <span>Boite d'origine</span>
                            </label>
                        </p>
                    </div>
                    <div class=" col s4 left-align">
                        <p>
                            <label>
                                {{form.chargeurs}}
                                <span>Chargeur</span>
                            </label>
                        </p>
                    </div>
                    <button class="modal-close waves-effect waves-green btn-flat right" type="submit">
                        <i class="material-icons right">thumb_up_alt</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock body_content %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
{% endblock javascripts %}