{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block body_content %}

    <div class="card-panel">

        <div class="card-panel orange darken-4">
            <b>Details Produit</b><i class="material-icons right">visibility</i>
        </div>

        <div class="row">
            <div class="col s12">
                <h4>Produit: {{ product.nom_du_produit }}</h4>
            </div>
            <div class="row">
                <div class="col s6">
                    Model: 
                </div>
                <div class="col s6">
                    <b>{% if product.model %}{{ product.model }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Edition: 
                </div>
                <div class="col s6">
                    <b>{% if product.edition %}{{ product.edition }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Année: 
                </div>
                <div class="col s6">
                    <b>{% if product.annee %}{{ product.annee }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Capacite Stockage (Giga): 
                </div>
                <div class="col s6">
                    <b>{% if product.nombre_de_giga %}{{ product.nombre_de_giga }} Giga{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    RAM (Giga): 
                </div>
                <div class="col s6">
                    <b>{% if product.nombre_de_ram %}{{ product.nombre_de_ram }} Giga {% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Dimension: 
                </div>
                <div class="col s6">
                    <b>{% if product.dimensions %}{{ product.dimensions }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Masse: 
                </div>
                <div class="col s6">
                    <b>{% if product.poids %}{{ product.poids }} kg{% else %}Non spécifiée{% endif %}</b>
                </div>
            </div>
             <div class="row">
                <div class="col s6">
                    Chargeur: 
                </div>
                <div class="col s6">
                    <b>{{ product.chargeurs|yesno:"OUI, NON" }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    Boite d'origine: 
                </div>
                <div class="col s6">
                    <b>{{ product.boite_origine|yesno:"OUI, NON" }}</b>
                </div>
            </div>
        </div>

        <a href="{% url 'dashboard:productPage' %}" class="btn-flat waves-effect">Retourner <i class="material-icons right">keyboard_return</i></a>
    
    </div>

{% endblock body_content %}