{% extends 'accounts/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/login.css' %}">
{% endblock stylesheets %}

{% block body_content %}

    <div class="card-panel login white">

        <div class="card-panel deep-orange accent-3">
            <span class="logo_login">Bienvenue chez Easy Money!</span>
            <img src="{% static 'dashboard/images/logo.png' %}" class="right" alt="Easy Money Logo" height="100" width="100">
        </div>
        
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn waves-effect deep-orange-text accent-3 black right"><b>
                Se Connecter</b>
                <i class="material-icons right">login</i>
            </button>
        </form>
        
            
    </div>

{% endblock body_content %}