{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="card-panel">

    <div class="row">
        <div class="col s12">
            <div class="card-panel deep-orange accent-3 white-text">
                Creer Une Nouvelle Boutique
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 m6 input-field">
                        {{ form.owner }}
                        <label for="{{ form.owner.id_for_label }}">Agent Responsable:</label>
                    </div>
                    <div class="col s12 m6 input-field">
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">Nom (attribué à la Boutique):</label>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.emplacement }}
                        <label for="{{ form.emplacement.id_for_label }}">Adresse:</label>
                    </div>

                    <button type="submit" class="deep-orange-text accent-3 black btn-flat waves-effect right">
                        <i class="material-icons right">recommend</i>
                        Creer
                    </button>
                    <a href="{% url 'accounts:profilePage' %}"
                        class="btn-flat red accent-3 white-text accent-3 waves-effect left">
                        <i class="material-icons right">keyboard_return</i>
                        Retour
                    </a>
                </div>
            </form>
        </div>

    </div>

</div>


{% endblock body_content %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'dashboard/js/materializeSelect.js' %}"></script>
{% endblock javascripts %}