{% extends 'dashboard/base.html' %}


{% block body_content %}

<div class="card-panel">

    <div class="row">
        <div class="col s12">
            <div class="card-panel deep-orange accent-3 white-text">
                Editer la Boutique {{ shop }}
                <i class="material-icons right">edit</i>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="deep-orange-text accent-3 btn-flat waves-effect">
                    <i class="material-icons right">recommend</i>
                    Editer
                </button>
                <a href="{% url 'accounts:profileUpdatePage' user.pk %}" class="btn-flat deep-orange-text accent-3 waves-effect">
                    <i class="material-icons right">keyboard_return</i>
                    Retour
                </a>
            </form>
        </div>
        
    </div>

</div>


{% endblock body_content %}