{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="card-panel">
    <div class="card-panel orange darken-4"><b>Editer un produit</b><a href="{% url 'dashboard:productPage' %}"
            class="btn-flat waves-effect right"><i class="material-icons right">keyboard_return</i></a></div>
    <div class="info_text valign-wrapper">
        <p class="blue-text lighten-2">
            <small>
                Vous êtes entrain de modifier les informations d'un produit.
                Vous pouvez toujours retourner en cliquant sur l'icon d'en haut.
            </small>
        </p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <div class="row">
            {% if user.is_superuser %}
            <div class="input-field col s12">
                {{ form.shop}}
                <label for="{{form.shop.id_for_label}}">Choisir la Boutique</label>
            </div>
            {% endif %}

            <div class="input-field col m5 s12">
                {{ form.seller }}
                <label for="{{form.seller.id_for_label}}">Vendeur</label>
            </div>
            <div class="input-field col m1 s6">
                <a href="{% url 'clients:clientPage' %}" name="clientID"
                    class="btn-flat deep-orange-text accent-3 tooltipped" data-position="bottom"
                    data-tooltip="Nouveau Vendeur">
                    <i class="material-icons right">person_add</i>
                </a>
            </div>

            <div class="input-field col m3 s6">
                {{ form.category }}
                <label for="{{form.category.id_for_label}}">Catégory</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.name }}
                <label for="{{form.name.id_for_label}}">Nom Produit</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.quantity }}
                <label for="{{form.quantity.id_for_label}}">Quantité</label>
            </div>

            <div class="input-field col m3 s6">
                {{ form.dv_or_ad }}
                <label for="{{form.dv_or_ad.id_for_label}}">Depot Vente ou Achat</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.price }}
                <label for="{{form.price.id_for_label}}">Prix Unitaire</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.montant_restauration }}
                <label for="{{form.montant_restauration.id_for_label}}">Montant Restauration
                </label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.dimension }}
                <label for="{{form.dimension.id_for_label}}">Dimension</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.estate }}
                <label for="{{form.estate.id_for_label}}">Etat</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.obsolescence }}
                <label for="{{form.obsolescence.id_for_label}}">Obsolescence</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.rarety }}
                <label for="{{form.rarety.id_for_label}}">Rarete</label>
            </div>

            <div class="input-field col m3 s6">
                {{ form.storage }}
                <label for="{{form.storage.id_for_label}}">Memoire de Stockage</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.ram }}
                <label for="{{form.ram.id_for_label}}">Memoire RAM</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.model }}
                <label for="{{form.model.id_for_label}}">Model du produit</label>
            </div>
            <div class="input-field col m3 s6">
                {{form.edition}}
                <label for="{{form.edition.id_for_label}}">Edition</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.annee }}
                <label for="{{form.annee.id_for_label}}">Annee </label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.color }}
                <label for="{{form.color.id_for_label}}">Couleur</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.matière }}
                <label for="{{form.matière.id_for_label}}">Matière</label>
            </div>
            <div class="input-field col m3 s6">
                <label for="{{form.garantie.id_for_label}}">
                    {{ form.garantie }}
                    <span>Garantie</span>
                </label>
            </div>
            <div class="col s12">
                <label for="{{form.description.id_for_label}}">
                    {{ form.description }}
                    <span>Description du produit</span>
                </label>
            </div>
            <br />
            <div class="row">
                <div class="input-field col m3 s6">
                    <label for="{{form.charger.id_for_label}}">
                        {{ form.charger }}
                        <span>Chargeur</span>
                    </label>
                </div>
                <div class="input-field col m3 s6">
                    <label for="{{form.original_box.id_for_label}}">
                        {{ form.original_box }}
                        <span>Boite d'origine</span>
                    </label>
                </div>
                <div class="input-field col m3 s6">
                    <label for="{{form.sale_bill.id_for_label}}">
                        {{ form.sale_bill }}
                        <span>Facture d'Achat</span>
                    </label>
                </div>
                <div class="input-field col m3 s6">
                    <label for="{{form.connectic.id_for_label}}">
                        {{ form.connectic }}
                        <span>Connectiques</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m3 s6">
                    <button class="waves-effect waves-green black btn-flat" type="submit">
                        <i class="material-icons right deep-orange-text accent-3 right">thumb_up_alt</i>
                        <b class="deep-orange-text accent-3">Enregistrer</b>
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
</div>

{% endblock body_content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/materializeSelect.js' %}"></script>
{% endblock javascripts %}