{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}
<div class="row">
    <!----Row 1-->
    <div class="col s12 m6">
        <div class="card-panel resize">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <span class="material-icons dummy_icon">category</span>
                </div>
                <div class="col s8">
                    <span class="dummy_info">Produits</span>
                </div>
            </div>
        </div>
        <div class="card-panel resize black deep-orange-text accent-3 ">
            <div class="card-title center dummy_info"> {{ total_item }}</div>
        </div>
    </div>
    <!----Row 2-->
    <div class="col s12 m6">
        <div class="card-panel resize">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <span class="material-icons dummy_icon">paid</span>
                </div>
                <div class="col s8">
                    <span class="dummy_info">Dépensé</span>
                </div>
            </div>
        </div>
        <div class="card-panel resize black deep-orange-text accent-3 ">
            <div class="card-title center dummy_info">{{ spent_depot|floatformat:0|intcomma}} C.FCA</div>
        </div>
    </div>
</div>
<!-- I'll add a graph in here -->

<div class="row">
    <div class="col s8">
        <!---- Adding Chart Achat -->
        <div class="card-panel">
            <canvas id="depotChart" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="section-info-easy col m4 s12">
        <!------ Product Trend Section -->
        <ul class="deposit collection with-header">
            <li class="collection-header black deep-orange-text accent-3">
                les plus déposés
            </li>
            {% for t_dpv in tendance_depot_vente %}
            {% if forloop.counter < 5%}
            <!-- #Display the three first vente trend -->
            {% if t_dpv.freq > 2 %}
            <li class="collection-item avatar">
                <i class="material-icons circle green accent-3 z-depth-2">trending_up</i>
                <p class="deep-orange-text accent-3">{{ t_dpv.produit__name }}
                    <p> Frequence de Vente: {{ t_dpv.freq }}</p>
                </p>
            </li>

            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col s4">
        <ul class="deposit collection with-header">
            <li class="collection-header black-text deep-orange accent-3">
                les moins déposés
            </li>
            {% for t_dpv_d in tendance_depot_vente %}
            {% if forloop.counter < 5%}
            <!-- #Display the three first vente trend -->
            {% if t_dpv_d.freq < 2 %}
            <li class="collection-item avatar">
                <i class="material-icons circle red accent-3 z-depth-2">trending_down</i>
                <p class="deep-orange-text accent-3">{{ t_dpv_d.produit__name }}
                    <p> Frequence de Vente: {{ t_dpv_d.freq }}</p>
                </p>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

        </ul>

    </div>
</div>

<!-- End graph -->


<!------- Section R3002: - Deposts Ventes Stock [] -->

<div class="row">
    <div id="man" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Liste des Depots-Vente</span>
                <div class="actions">
                    <a href="#man" class="search-toggle waves-effect btn-flat nopadding"><i
                            class="material-icons">search</i></a>
                </div>
            </div>
            <table id="datatable" class="responsive-table">
                <thead>
                    <tr>
                        <th>Vendeur</th>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix Dépot <br>total </th>
                        <th>Date Dépot</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dv in depot_ventes %}
                    <tr>
                        <td> {{ dv.seller.fname }} {{ dv.seller.lname }} </td>
                        <td> {{ dv.name }}</td>
                        <td> {{ dv.quantity }} / {{ dv.initial_quantity }}</td>
                        <td>{{ dv.price_total|floatformat:0|intcomma}}</td>
                        <td>{{ dv.created_date|date:"SHORT_DATE_FORMAT"}}</td>
                        <td class="actions">
                            <a href="{% url 'dashboard:depotVenteDetailPage' dv.pk %}"
                                class="orange-text darken-4 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Voir"><span class="material-icons">visibility</span></a>
                            <a href="{% url 'dashboard:depotVenteEditPage' dv.pk %}"
                                class="green-text darken-4 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Modifier"><span class="material-icons">update</span></a>
                            <a href="{% url 'dashboard:depotVenteDeletePage' dv.pk %}"
                                class="red-text accent-4 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Supprimer"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!------- Section R3002: - Depots Ventes Stock [] -->


{% endblock body_content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>

<script>
    var dataset_depot = JSON.parse('{{ dataset_depot }}');
</script>
<script type="text/javascript" src="{% static 'dashboard/js/chart_depot.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
{% endblock javascripts %}