<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Easy Money Facture</title>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
        }

        header {
            display: flex;
        }
    </style>
</head>

<body>
    <header>
        <div class="company-info">
            <h3>Easy Money</h3>
            <h3>Somone, Saly Center</h3>
            <h3>Phone Number</h3>
        </div>
        <div class="bill-info">
            <h1>FACTURE</h1>
            <div class="f-number">57342</div>
            <div class="f-date">24-04-2020</div>
        </div>
    </header>
    <div class="client-info">
        <h3>Facture à</h3>
        <h3>Nom</h3>
        <h3>Addresse</h3>
        <h3>Numéro de téléphone</h3>
    </div>
    <div class='wrapper'>
        <div class='header'>
            <p class='title'>Invoice # </p>
        </div>
        <div>
            <div class='details'>
                last_vente : {{ vente.produit.name }}<br>
                Date: {{ vente.created_date }}<br>
                nom du client: {{ vente.client }}<br>
                Garantie: {{ vent.guarantee}}<br>
                <hr class='hrItem' />
            </div>
        </div>
</body>

</html>