{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block body_content %}

    <div class="card-panel deep-orange accent-3 center-align darken-4">
        <h5> <b> Client - {{ client.fname }} {{ client.lname }} / {{ client.pk }} </b><i class="material-icons right">visibility</i></h5>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <div class="colright card-panel-header__wrapper">
                <div class="black-text big-text "><b>Information client</b></div>
            </div>
            <div class="divider"></div>
            <div class="row">
        <div class="col s12">
            <h5>Ajouter à la boutique: {{ client.shop }}</h5>
            <!-- {% if product.price %}{{ product.price }}{% else %}Non spécifiée{% endif %} -->
        </div>
        
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        {{ client.fname }}
                    </td>
                    <td>
                        {{ client.lname }}
                    </td>                        
                </tr>
            </tbody>
        </table>
        
        <br />
        <br />
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Nationalité</th>
                    <th>Sexe</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        {% if client.age %} {{ client.age }}{% else %}Non spécifié{% endif %}
                    </td>
                    <td>
                        {% if client.nationality %} {{ client.nationality }}{% else %}Non spécifié{% endif %}
                    </td>                        
                    <td>
                        {% if client.sexe %} {{ client.sexe }}{% else %}Non spécifié{% endif %}
                    </td>                        
                </tr>
            </tbody>
        </table>

        <br />
        <br />
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Passage</th>
                    <th>CNI</th>
                    <th>Passport</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        {% if client.vente_or_achat == 'ACHAT' %} Achéteur
                        {% elif client.vente_or_achat == 'VENTE'%} Vendeur {% else %}{% endif %}
                    </td>
                    <td>
                        {{ client.passage }}
                    </td>                        
                    <td>
                        {% if client.id_card %} {{ client.id_card }}{% else %}Non spécifié{% endif %}
                    </td>                        
                    <td>
                        {% if client.passport_number %} {{ client.passport_number }}{% else %}Non
                spécifié{% endif %}
                    </td>                        
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <div class="colright card-panel-header__wrapper">
                <div class="black-text big-text "><b>Information client</b></div>
            </div>
            <div class="divider"></div>

            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Adresse</th>
                        <th>Email</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            {% if client.numero %} 
                                {{ client.numero }}
                            {% else %}
                                Non spécifié
                            {% endif %}
                        </td>
                        <td>
                            {% if client.address %} 
                                {{ client.address }}
                            {% else %}
                                Non spécifié
                            {% endif %}
                        </td>
                        <td>
                            {% if client.email %} 
                                {{ client.email }}
                            {% else %}
                                Non spécifié
                            {% endif %}
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            
    </div>

    <div class="row-table-inner">
            <!----- Table -->
            <div class="col s12">
                <div class="card-panel">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text "><b>Achats Effecutés</b></div>
                    </div>
                    <div class="divider"></div>

                    <table class="responsive-table highlight">
                        <table class="striped responsive-table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix unitaire</th>
                            <th>Quantité</th>
                            <th>Prix total</th>
                            <th>Date</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for vc in ventes_client %}
                            <tr>
                                <td>{{ vc.produit.name }}</td>
                                <td>{{ vc.price }}</td>
                                <td>{{ vc.quantity }}</td>
                                <td>{{ vc.price_total }}</td>
                                <td>{{ vc.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <h5>
                            Total dépensé par {{ client.fname }} {{ client.lname }}: <b> {{ sum_ventes }} F.CFA </b>
                        </h5>
                    </div>
                </div>
            </div>
        </div>






    
    <a href="{% url 'clients:clientPage' %}"
        class="btn-flat btn-large waves-effect black deep-orange-text accent-3">Retourner
        <i class="material-icons right">keyboard_return</i>
    </a>



{% endblock body_content %}