{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/vente_detail.css' %}" />
{% endblock stylesheets %}

{% block body_content %}

<div class="card-panel">

    <div class="card-panel deep-orange accent-3 center-align darken-4">
        <h4> <b>Details de vente  </b></h4>
        <h5>
            Client: {{ client.fname }} {{ client.lname }}
        </h5>
        <h5>
            Le 
            {% with ventes|first as vente %}
                {{ vente.created_date|date:"SHORT_DATE_FORMAT"}}
            {% endwith %}
        </h5> 
    </div>

    <div class="client-actions mx-8 right-align">
        <div class="">
            {% with ventes|first as vente %}
                <a href="{% url 'clients:sendInvoice' client.pk vente.created_date.day vente.created_date.month vente.created_date.year %}" class="action send-invoice deep-orange-text accent-3 waves-effect btn-flat" >
                    <span class="action-title">Envoyer Facture </span>
                    <span class="material-icons">email</span>
                </a>
            {% endwith %}
        </div>
        <div class="">
            <a href="{% url 'ventes:venteCreationPage' client.pk %}" class="action new-sale deep-orange-text accent-3 waves-effect btn-flat" >
                <span class="action-title">Nouvelle vente</span>
                <span class="material-icons">price_check</span>
            </a>
        </div>
    
    </div>

    {% comment %} Table {% endcomment %}
    <div class="section-vente-detail">
        <table class="striped">
            <thead>
                <tr>
                    <th>Réf</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Remise</th>
                    <th>Accompte</th>
                    <th>Guarantie</th>
                    <th>Restant</th>
                    <th>Total</th>
                    <th>Modifier</th>
                </tr>
            </thead>

            <tbody>
                {% for vente in ventes %}
                <tr>
                        <td>{{ vente.pk }}</td>
                        <td>{{ vente.produit.name }}</td>
                        <td>{{ vente.quantity }}</td>
                        <td>{{ vente.price_remise }}</td>
                        <td>{{ vente.acompte }}</td>
                        <td>
                            {% if vente.guarantee is True %}
                                Oui ({{ vente.guarantee_period}})
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        {% if vente.restant_du > 0 %}
                            <td class="red accent-3">{{ vente.restant_du }}</td>  
                        {% else %}
                            <td class="green accent-3">{{ vente.restant_du }}</td>    
                        {% endif %}
                        <td>{{ vente.price_total }}</td>
                        <td>
                            <a href="{% url 'ventes:venteEditPage' vente.pk %}"
                                class="green-text accent-3 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Modifier"><i class="material-icons right mt-4">update</i>
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</div>

{% endblock body_content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}">
{% endblock javascripts %}