{% load static %}
{% load search_loader_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'dashboard/images/logo.png' %}" />
    <!-- Chart JS -->
    <script type="text/javascript" src="{% static 'dashboard/js/chartjs.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/materialize/css/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/master.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/select2Select.css' %}" />
    <!-- Specific Page CSS goes here...  -->
    {% block stylesheets %}{% endblock stylesheets %}
    <title>
        Easy Money | {% if title %} {{ title }} {% else %} Dashboard {% endif %}
    </title>
</head>

<body>


    {% include 'includes/sidenav.html' %}

    <main class="easy-main-content">

        {% include 'includes/navbar.html' %}

        <div class="easy-body-wrapper">

                {% if messages %}
                    <div class="row">
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="col s12">
                                <div class="card-panel green accent-3"><b>{{message}}</b></div>
                            </div>
                        {% elif message.tags == "error" %}
                            <div class="col s12">
                                <div class="card-panel red accent-4 white-text"><b>{{message}}</b></div>
                            </div>
                        {% elif message.tags == "warning" %}
                            <div class="col s12">
                                <div class="card-panel yellow accent-2"><b>{{message}}</b></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% block body_content %}
               
            <!----- Add your code here...  -->
            {% endblock body_content %}

        </div>

    </main>
</body>

{% include 'includes/scripts.html' %}
<!-- Specific Page JS goes here...  -->
{% block javascripts %}
 
{% endblock javascripts %}
    {% comment %} <script>
        var products = JSON.parse('{% list_item %}');
        console.log(products)
        // Setting up the Autocomplete
        var elems = document.querySelectorAll('.autocomplete');
        console.log(elems)
        M.Autocomplete.init(elems, {
            data: products,
        });
    </script> {% endcomment %}

</html>