{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block body_content %}

<div class="row with-gap">

    <!--- Boutique Card -->
    <div class="col s12 m4 l4">
        <div class="card resize black">
            <div class="card-content deep-orange-text accent-3">
                <span class="card-title"> Boutiques</span>
                <p class="p-adjust add_size ">
                    <i class="material-icons small right deep-orange-text accent-3"> store </i>
                    <span class="p-large i-adjust deep-orange-text accent-3">{{ n_shops }}</span>
                </p>
            </div>
        </div>
    </div>


    <!--- Produit Card -->
    <div class="col  s12 m4 l4">
        <div class="card resize black">
            <div class="card-content deep-orange-text accent-3">
                <span class="card-title">Produits</span>
                <p class="p-adjust add_size ">
                    <i class="material-icons small right deep-orange-text accent-3">shopping_cart</i>
                    <span class="p-large i-adjust deep-orange-text accent-3 ">{{ n_product|stringformat:"03d" }}</span>
                </p>
            </div>
        </div>
    </div>

    <!--- Client Card -->
    <div class="col s12 m4 l4">
        <div class="card resize black">
            <div class="card-content deep-orange-text accent-3">
                <span class="card-title">Clients</span>
                <p class="p-adjust add_size">
                    <i class="material-icons small right deep-orange-text accent-3">groups</i>
                    <span class="p-large i-adjust deep-orange-text accent-3">{{ n_client|stringformat:"03d" }}</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!---- Adding Chart Achat -->
<div class="row">
    <div class="col m8 s12 ">
        <div class="card-panel">
            <canvas id="myChart" class="chart_bar"></canvas>
        </div>
    </div>
    <!--- Revenue Card -->
    <div class="col s12 m4 l4">
        <div class="card resize deep-orange accent-3">
            <div class="card-content black-text big-text">
                <span class="card-title">Benefice</span>
                <div>Mois: <b>{{benefice_month|floatformat|intcomma}} f.cfa </b> </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card resize deep-orange accent-3">
            <div class="card-content black-text big-text">
                <span class="card-title">Benefice</span>

                <div>Jours:<b> {{benefice_day|floatformat|intcomma}} f.cfa </b> </div>
                <br>
            </div>
        </div>
    </div>
</div>

<!----- Tables: Achat et Depot -->
<div class="middle-section-easy row lefty">
    <!------ Section Wrapper of Tables: [8]-> 12 [now] columns-->
    <div class=" section-table-easy col s12">
        <!----- Table -->
        <div class="row-table-inner">
            <div class=" col  s12">
                <div class="card-panel">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text"><b> Achats Directs </b></div>
                        <div class="bbtn">
                            <a href="{% url 'dashboard:achatDirectPage' %}#datatable" class=" waves-effect waves-light btn-small
                                deep-orange accent-3">
                                <i class="material-icons left">visibility</i>
                                Voir Tout
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <table class="responsive-table highlight">
                        <thead class="">
                            <tr>
                                <th>Produit</th>
                                <th>Clients</th>
                                <th>Date d' achat</th>
                                <th>Prix d'achat</th>
                                <th>Quantite</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!----- Row: 1-->
                            {% with count=0 %}
                            {% endwith %}
                            {% for achat in achat_directs %}
                            {% if forloop.counter < 5%}
                            <tr>
                                <td>{{ achat.name }}</td>
                                <td>{{ achat.seller}}</td>
                                <td>{{ achat.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td lass="right-align">{{ achat.price_total|floatformat:0|intcomma }}</td>
                                <td>{{ achat.quantity }} / {{ achat.initial_quantity }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!----- Row: 2-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!----- Table -->
        <div class="row-table-inner">
            <div class=" col  s12">
                <div class="card-panel">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text"><b> Depot Ventes </b></div>
                        <div class="bbtn">
                            <a href="{% url 'dashboard:achatDirectPage' %}#datatable" class=" waves-effect waves-light btn-small
                                deep-orange accent-3">
                                <i class="material-icons left">visibility</i>
                                Voir Tout
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <table class="responsive-table highlight">
                        <thead class="">
                            <tr>
                                <th>Produit</th>
                                <th>Clients</th>
                                <th>Date d' achat</th>
                                <th>Prix d'achat</th>
                                <th>Quantité</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!----- Row: 1-->
                            {% with count=0 %}
                            {% endwith %}
                            {% for depot_vente in depot_ventes %}
                            {% if forloop.counter < 5%}
                            <tr>
                                <td>{{ depot_vente.name }}</td>
                                <td>{{ depot_vente.seller}}</td>
                                <td>{{ depot_vente.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ depot_vente.price_total|floatformat:0|intcomma }}
                                </td>
                                <td>{{ depot_vente.quantity}} / {{ depot_vente.initial_quantity }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!----- Row: 2-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row-table-inner">
            <!----- Table -->
            <div class="col s12">
                <div class="card-panel">
                    <div class="colright card-panel-header__wrapper">
                        <div class="black-text big-text "><b>Ventes Effecutees</b></div>
                        <div class="bbtn">
                            <a href="{% url 'ventes:ventePage' %}#datatable"
                                class="waves-effect waves-light btn-small deep-orange accent-3">
                                <i class=" material-icons left">visibility</i>
                                Voir Tout
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Date Achat</th>
                                <th>Prix Achat</th>
                                <th>Clients</th>
                                <th>Quantité</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!----- Row: 1-->
                            {% for vente in ventes %}
                            {% if forloop.counter < 5%}
                            <tr>
                                <td>{{ vente.produit.name }}</td>
                                <td>{{ vente.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ vente.price|floatformat:0|intcomma }}</td>
                                <td>{{ vente.client.fname }} {{ vente.client.lname }}</td>
                                <td>{{ vente.quantity }} / {{ vente.produit.initial_quantity }}</td>

                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

</div>

{% endblock body_content %}

{% block javascripts %}
<script>
    var dataset_achat = JSON.parse('{{ dataset_achat }}');
    var dataset_vente = JSON.parse('{{ dataset_vente }}');
    var dataset_depot = JSON.parse('{{ dataset_depot }}');
</script>
<script src="{% static 'dashboard/js/chart_easy.js' %}"></script>
{% endblock javascripts %}