{% extends 'dashboard/base.html' %}

{% block body_content %}

    <div class="card-panel">
        <div class="card-panel orange darken-4">Editer un Depot <a href="{% url 'dashboard:productPage' %}" class="btn-flat waves-effect right"><i class="material-icons right">keyboard_return</i></a></div>
            <div class="info_text valign-wrapper">
                <p class="blue-text lighten-2">
                    <small>
                        Vous etes entrain de modifier les informations d'un depot deja effectue.
                        Vous pouvez toujours retourner en cliquant sur le l'icon d'en haut.
                    </small>
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                
                <!--- Form -->
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.nom_vendeur }}
                        <label for="{{ form.nom_vendeur.id_for_label }}">Nom du Vendeur</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.produit }}
                        <label for="{{ form.produit.id_for_label }}">Produit</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.qualite }}
                        <label for="{{ form.qualite.id_for_label }}">Qualite</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.prix_d_achat }}
                        <label for="{{ form.prix_d_achat.id_for_label }}">Prix d'achat</label>
                    </div>
                </div>

                <div class="info_text valign-wrapper">
                    <span class="blue-text lighten-2"><small>Vous pouvez ajouter un produit avec le bouton d'icon <i class="material-icons">local_mall</i> </small></span>
                </div>

                <div class="modal-footer">
                    <a href="{% url 'dashboard:productPage' %}" class="waves-effect btn-flat nopadding"><i class="material-icons">local_mall</i></a>
                    <button class="modal-close waves-effect waves-green btn-flat" type="submit">
                        <i class="material-icons right">thumb_up_alt</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock body_content %}