{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block body_content %}
<div class="card-panel">

    <div class="card-panel deep-orange accent-3 darken-4">
        <h4> <b>Details du Produit <span class="white-text">{{d_vente.name}}</span></b><i
                class="material-icons right">visibility</i></h4>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Boutique: {{ product.shop }}</h4>
        </div>
    </div>
    <div class="row">
        <h6>
            <div class="col s6">
                Numéro Article:
            </div>
            <div class="col s6">
                <b>{% if product.article %}{{ product.article }}{% else %}Non spécifiée{% endif %}</b>
            </div>
        </h6>
    </div>
    <div class="row">
        <h6>
            <div class="col s6">
                Vendeur:
            </div>
            <div class="col s6">
                <b>{% if product.seller %}{{ product.seller }}{% else %}Non spécifiée{% endif %}</b>
            </div>
        </h6>
    </div>
    <div class="row">
        <h6>
            <div class="col s6">
                Category:
            </div>
            <div class="col s6">
                <b>{% if product.category %}{{ product.category }}{% else %}Non spécifiée{% endif %}</b>
            </div>
        </h6>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Produit: {{ product.name }}</h4>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Quantité Restante:
                </div>
                <div class="col s6">
                    <b>{% if product.quantity %}{{ product.quantity }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Depot Vente ou Achat Direct:
                </div>
                <div class="col s6">
                    <b>{% if product.dv_or_ad %}{{ product.dv_or_ad }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Quantité Initiale:
                </div>
                <div class="col s6">
                    <b>{% if product.initial_quantity %}{{ product.initial_quantity }}{% else %}Non
                        spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Prix unitaire:
                </div>
                <div class="col s6">
                    <b>{% if product.price %}{{ product.price|floatformat:0 }} cfa{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Montant de la Restauration:
                </div>
                <div class="col s6">
                    <b>{% if product.montant_restauration %}{{ product.montant_restauration|floatformat:0 }}
                        cfa{% else %}
                        0 cfa{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Prix Total Unitaire:
                </div>
                <div class="col s6">
                    <b>{% if product.price_total %}{{ product.price_total|floatformat:0 }} cfa{% else %}Non
                        spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Prix Total:
                </div>
                <div class="col s6">
                    <b>{% if product.price_total_tt_produit %}{{ product.price_total_tt_produit|floatformat:0 }}
                        cfa{% else %}Non
                        spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Prix de Vente Minimum:
                </div>
                <div class="col s6">
                    <b>{% if product.dv_or_ad == 'DV' %}{{ product.price_vente_minimum_dv }}cfa{% else %}{{ product.price_vente_minimum_ad }}
                        cfa
                        {% endif %}</b>
                </div>
            </h6>
        </div>

        <div class="row">
            <h6>
                <div class="col s6">
                    Couleur:
                </div>
                <div class="col s6">
                    <b>{% if product.color %}{{ product.color }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Dimension:
                </div>
                <div class="col s6">
                    <b>{% if product.dimension %}{{ product.dimension }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Etat:
                </div>
                <div class="col s6">
                    <b>{% if product.estate %}{{ product.estate }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Obsolesence:
                </div>
                <div class="col s6">
                    <b>{% if product.obsolesence %}{{ product.obsolesence }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Rareté:
                </div>
                <div class="col s6">
                    <b>{% if product.rarety %}{{ product.rarety }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>

        <div class="row">
            <h6>
                <div class="col s6">
                    Model:
                </div>
                <div class="col s6">
                    <b>{% if product.model %}{{ product.model }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Edition:
                </div>
                <div class="col s6">
                    <b>{% if product.edition %}{{ product.edition }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Année:
                </div>
                <div class="col s6">
                    <b>{% if product.annee %}{{ product.annee }}{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Capacite Stockage (Giga):
                </div>
                <div class="col s6">
                    <b>{% if product.storage %}{{ product.storage }} Giga{% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    RAM (Giga):
                </div>
                <div class="col s6">
                    <b>{% if product.ram %}{{ product.ram }} Giga {% else %}Non spécifiée{% endif %}</b>
                </div>
            </h6>
        </div>

        <div class="row">
            <h6>
                <div class="col s6">
                    Chargeur:
                </div>
                <div class="col s6">
                    <b>{{ product.charger|yesno:"OUI, NON" }}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Boite d'origine:
                </div>
                <div class="col s6">
                    <b>{{ product.original_box|yesno:"OUI, NON" }}</b>
                </div>
            </h6>
        </div>
        <div class="row">
            <h6>
                <div class="col s6">
                    Connectiques du Produit:
                </div>
                <div class="col s6">
                    <b>{{ product.connectic|yesno:"OUI, NON" }}</b>
                </div>
            </h6>
        </div>
    </div>

    <a href="{% url 'dashboard:depotVentePage' %}"
        class="btn-flat btn-large black deep-orange-text accent-3 waves-effect">Retourner
        <i class="material-icons right">keyboard_return</i></a>

</div>

{% endblock body_content %}