{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block body_content %}
<div class="card-panel">

    <div class="card-panel deep-orange accent-3 darken-4">
        <b>Details Depot Ventes</b> <i class="material-icons right">visibility</i>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Produit Déposé: {{ d_vente.name }}</h4>
        </div>
        <div class="col s6">
            Nom du Déposeur
        </div>
        <div class="col s6">
            <b>{{ d_vente.seller }}</b>
        </div>
        <div class="col s6">
            Prix du déposeur:
        </div>
        <div class="col s6">
            <b>{{ d_vente.price|floatformat:0|intcomma }}fcfa</b>
        </div>
        <div class="col s6">
            Qualité du produit:
        </div>
        <div class="col s6">
            <b>{{ d_vente.estate }}</b>
        </div>
        <div class="col s6">
            Date deposée [à la boutique]:
        </div>
        <div class="col s6">
            <b>{{ d_vente.created_date }}</b>
        </div>


    </div>

    <a href="{% url 'dashboard:depotVentePage' %}"
        class="btn-flat black deep-orange-text accent-3 waves-effect">Retourner <i
            class="material-icons right">keyboard_return</i></a>

</div>
{% endblock body_content %}