{% extends 'dashboard/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block title %} {{ title }} {% endblock title %}

{% block body_content %}
<div class="card-panel resize black deep-orange-text accent-3">
    <div class="card-container center-align">
        <h4 class="white-text ">Faire une Estimation</h4>
        <p class="deep-orange-text accent-3">remplissez le plus d'informations possible que vous avez sur le produit</p>
    </div>
</div>

<div class="card-panel resize black" id="">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <div class="row ">
            <!-- <div class="col m6 s12"> -->
            <div class="input-field col m3 s12 white-text ">
                {{ form.shop }}
                <label class="white-text" class="white-text" for="{{form.shop.id_for_label}}">Boutique</label>
            </div>
            <div class="input-field col m3 s12">
                {{ form.client_name }}
                <label class="white-text" class="white-text" for="{{form.client_name.id_for_label}}">Vendeur</label>
            </div>
            <div class="input-field col m3 s12">
                {{ form.numero }}
                <label class="white-text" for="{{form.numero.id_for_label}}">&#8470; Telephone</label>
            </div>
            <div class="input-field col m3 s12">
                {{ form.address }}
                <label class="white-text" for="{{form.address.id_for_label}}">Addresse</label>
            </div>


        </div>

        <div class="row">
            <div class="input-field col m3 s6">
                {{ form.product_name }}
                <label class="white-text" for="{{form.product_name.id_for_label}}">Nom Produit</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.year_of_release }}
                <label class="white-text" for="{{form.year_of_release.id_for_label}}">Année de sortie</label>
            </div>

            <div class="input-field col m3 s6">
                {{ form.new_price }}
                <label class="white-text" for="{{form.new_price.id_for_label}}">Prix Neuf</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.estate }}
                <label class="white-text" for="{{form.estate.id_for_label}}">Etat</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s6">
                {{ form.obsolescence }}
                <label class="white-text" for="{{form.obsolescence.id_for_label}}">Obsolescence</label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.rarety }}
                <label class="white-text" for="{{form.rarety.id_for_label}}">Rareté </label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.charger }}
                <label class="white-text" for="{{form.charger.id_for_label}}">Chargeur </label>
            </div>
            <div class="input-field col m3 s6">
                {{ form.dimension }}
                <label class="white-text" for="{{form.dimension.id_for_label}}">Dimension</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m3 s6">
                <label class="white-text" for="{{form.sale_bill.id_for_label}}">
                    {{ form.sale_bill }}
                    <span>Facture</span>
                </label>
            </div>
            <div class="input-field col m3 s6">
                <label class="white-text" for="{{form.original_box.id_for_label}}">
                    {{ form.original_box }}
                    <span>Boite d'origine</span>
                </label>
            </div>
            <div class="input-field col m6 s6">
                <button class="waves-effect waves-green white btn-flat" type="submit">
                    <i class="material-icons right deep-orange-text accent-3 right">thumb_up_alt</i>
                    <b class="deep-orange-text accent-3">Enregistrer</b>
                </button>
            </div>
        </div>

    </form>
</div>
<section class="center-align">
    <div id="man" class="col s12">
        <div class="card resize material-table ">
            <div class="table-header">
                <span class="table-title deep-orange-text accent-3">Liste Des Produits Estimés</span>
                <div class="actions">
                    <!-- Here is where we should make the linking-->
                    <a href="#man" class="search-toggle waves-effect btn-flat nopadding"><i
                            class="material-icons">recherche</i></a>
                </div>
            </div>
            <table id="datatable" class="responsive-table">
                <thead>
                    <tr>
                        <th class="white-text">Date</th>
                        <th class="white-text">Nom</th>
                        <th class="white-text">Addresse</th>
                        <th class="white-text">Produit</th>

                        <th class="white-text">estimation</th>
                        <th class="white-text">supprimer</th>
                    </tr>
                </thead>
                <tbody class="black">

                    {% for estimate in estimates %}
                    <tr id="{{estimate.id}}" class="black">
                        <th class="deep-orange-text accent-3 left-align">
                            {{ estimate.created_date|date:"SHORT_DATE_FORMAT" }}</th>
                        <th class="deep-orange-text accent-3 left-align"> {{ estimate.client_name }}</th>
                        <th class="deep-orange-text accent-3 left-align">{{ estimate.address }}</th>
                        <th class="deep-orange-text accent-3 left-align">{{ estimate.product_name }}</th>
                        <th>
                            <a href="{% url 'dashboard:estimationResultPage' estimate.pk %}"
                                class="white-text waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="tirer"><span class="material-icons">calculate</span></a>
                        </th>
                        <th>
                            <label>
                                <input type="checkbox" name='estimate_id[]' value='{{estimate.id}}'
                                    id='delete_estimate' />
                                <span></span>
                            </label>
                        </th>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align ">
            <button id='delete' type='submit' class=" btn way-bigger black b-large deep-orange-text accent-3">
                <i class="material-icons left"></i>Supprimer
            </button>
        </div>
    </div>
</section>
{% endblock body_content%}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //var dataset_client = JSON.parse('{{dataset_client}}')
    $(document).ready(function () {
        $('#delete').click(function () {
            if (confirm('Are you sure you want to delete this item?'))
                var id = [];
            $(':checkbox:checked').each(function (i) {
                id[i] = $(this).val()
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            })
            if (id.length === 0) {
                alert('Please Select the item')
            } else {
                console.log(id)
                $.ajax({
                    url: '.',
                    method: 'POST',
                    data: {
                        id,
                        csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (response) {
                        console.log('succeded')
                        for (var i = 0; i < id.length; i++) {
                            $('#tr' + id[i] + '').css('background-color', 'black');
                            $('#tr' + id[i] + '').fadeOut('slow');
                        }
                    }
                })
            }
        })
    })
</script>
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>


{% endblock javascripts %}