{% extends 'dashboard/base.html' %} {% load static %} {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
{% endblock stylesheets%} {% block title %} {{ title }} {% endblock title %}
{%block body_content %}

<div class="row with-gaps">
  <div class="black white-text width-border valign-wrapper z-depth-2">
    <div class="col s8 add_pd">
      <h4 class="deep-orange-text accent-3">Total Client</h4>
      <p>Voila le nombre total de clients ayant visité</p>
    </div>
    <div class="col s4 center-align">
      <div class="icon z-depth-2">
        <i class="material-icons medium deep-orange-text accent-3 separate_two">people</i>
      </div>
      <div class="ajouter">
        <p class="deep-orange-text accent-3 big">
          {{c_number|stringformat:"03d" }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card-panel deep-orange accent-3">
  <div class="card-container center-align">
    <h4 class="deep-orange-text accent-3 white-text">
      Vous pouvez toujours ajouter un nouveau client.
    </h4>
    <p class="white-text lighten-4">
      remplissez seul les informations que vous avez sur le client
    </p>
  </div>
</div>
<div class="card-panel">
  <form action="#" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <!--- Form -->
    {% if user.is_superuser %}
    <div class="row">
      <div class="input-field col m4 s6">
        {{ form.shop }}
        <label for="{{ form.shop.id_for_label }}">Boutiques</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.fname }}
        <label for="{{ form.fname.id_for_label }}">Prenom du Client</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.lname }}
        <label for="{{ form.lname.id_for_label }}">Nom du Client</label>
      </div>
      {% endif %}
      <div class="input-field col m4 s6">
        {{ form.vente_or_achat }}
        <label for="{{ form.vente_or_achat.id_for_label }}">Vendeur ou Acheteur</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.address }}
        <label for="{{ form.address.id_for_label }}">Adresse</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.age }}
        <label for="{{ form.age.id_for_label }}">Age</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.nationality }}
        <label for="{{ form.nationality.id_for_label }}">Nationalite</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.id_card }}
        <label for="{{ form.id_card.id_for_label }}">ID card</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.passport_number }}
        <label for="{{ form.passport_number.id_for_label }}">Numero Passport</label>
      </div>




      <div class="input-field col m4 s6">
        {{ form.sexe }}
        <label for="{{ form.sexe.id_for_label }}">Sexe</label>
      </div>

      <div class="input-field col m4 s6">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">Email</label>
      </div>
      <div class="input-field col m4 s6">
        {{ form.numero }}
        <label for="{{ form.numero.id_for_label }}">Numero</label>
      </div>
    </div>
    <div class="row">
      <div class="col m3 s6 right">
        <button class="waves-effect waves-green black btn-flat" type="submit">
          <i class="material-icons right deep-orange-text accent-3 right">thumb_up_alt</i>
          <b class="deep-orange-text accent-3">Enregistrer</b>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div id="man" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Liste Des Clients</span>
        <div class="actions">
          <!-- Here is where we should make the linking-->
          <a href="#man" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
        <div class="row center-align with-pd" style="margin-left: 10px; margin-right: 10px;">
          <button id='delete' type='submit' class="red darken-1 btn white-text">
            <i class="material-icons left"></i>Supprimer
          </button>
        </div>
      </div>
      <table id="datatable" class="responsive-table">
        <thead>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Numero</th>
            <th>Passage</th>
            <th>Date</th>
            <th>Actions</th>
            <th class="">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr id="client.id">
            <th class="black-text">{{ client.fname }}</th>
            <th class="black-text">{{ client.lname }}</th>
            <th class="black-text">{{ client.numero }}</th>
            <th class="black-text">{{ client.passage }}</th>
            <th class="black-text ">
              {{ client.created_date|date:"SHORT_DATE_FORMAT" }}
            </th>
            <th class="center-align-element black-text ">

              <a href="{% url 'dashboard:clientDetailPage' client.pk %}"
                class="deep-orange-text accent-3  waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Voir"><span class="material-icons">visibility</span></a>


              <a href="{% url 'dashboard:clientEditPage' client.pk %}"
                class="green-text darken-4   waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Modifier"><span class="material-icons">update</span></a>

              <!-- <a href="{% url 'dashboard:clientDeletePage' client.pk %}"
                class="red-text accent-4 waves-effect btn-flat tooltipped" data-position="left"
                data-tooltip="Supprimer"><span class="material-icons">delete</span></a> -->
            </th>
            <th>
              <label class="">
                <input type="checkbox" name='client_id[]' value='{{client.id}}' id='delete_client' />
                <span></span>
              </label>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card-panel">
  <div class="card-container col s12">
    <div class="card-title center-align">
      <h3>clients reçus par mois</h3>
    </div>
    <div>
      <canvas id="chart_client"></canvas>
    </div>
  </div>
</div>

{% endblock body_content %} {% block javascripts %}
<script>
  var dataset_client = JSON.parse("{{dataset_client}}");
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  //var dataset_client = JSON.parse('{{dataset_client}}')
  $(document).ready(function () {
    $('#delete').click(function () {
      if (confirm('Êtes vous sures de vouloir supprimer les éléments selectionnés?'))
        var id = [];
      $(':checkbox:checked').each(function (i) {
        id[i] = $(this).val()
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
      })
      if (id.length === 0) {
        alert('Please Select the item')
      } else {
        console.log(id)
        $.ajax({
          url: "{% url 'dashboard:multipleDeleteClientPage' %}",
          method: 'POST',
          data: {
            id,
            csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
          },
          success: function (response) {
            window.location.reload();
          }
        })
      }
    })
  })
</script>
<script type="text/javascript" src="{% static 'dashboard/js/chartClient.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
{% endblock javascripts %}