{% extends 'dashboard/base.html' %} {% block body_content %}

<ul class="collection with-header">
  <li class="collection-item header deep-orange accent-3 white-text">
    <h5>
      <b>Vos Notifications</b>
      <i class="material-icons right">notifications</i>
    </h5>
  </li>
  {% for notification in notifications %}
  <li class="collection-item avatar">
    <img
      src="{{ notification.sender.shop_user_related.avatar.url }}"
      alt=""
      class="circle"
    />
    <span class="title">
      <b>
        Type:
        {%if notification.notification_type == 1%} Message 
        {%elif notifications.notification_type == 2%} Suppression {%else%} Ajout
        {%endif %}
      </b>
    </span>
    <p>{{ notification.message }}</p>
    <a href="#!" class="secondary-content"
      ><i class="material-icons">grade</i></a
    >
  </li>
  {% endfor %}
</ul>

<ul class="pagination">
  {% if notification.has_previous %}
    <li class="waves-effect">
      <a href="?page={{ notification.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
    </li>
  {% else %}
    <li class="disabled">
      <a href="#!"><i class="material-icons">chevron_left</i></a>
    </li>
  {% endif %}

  {% for page in notification.paginator.page_range %}
    <li class="{% if page == notification.number %}active {% else %} waves-effect {% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
  {% endfor %}

  {% if notification.has_next %}
    <li class="waves-effect">
      <a href="?page={{ notification.next_page_number }}"><i class="material-icons">chevron_right</i></a>
    </li>
  {% else %}
    <li class="disabled">
      <a href="#!"><i class="material-icons">chevron_right</i></a>
    </li>
  {% endif %}
</ul>

{% endblock body_content %}
