{% extends 'dashboard/base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/addon_datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
{% endblock stylesheets %}

{% block title %} {{ title }} {% endblock title %}

{% block body_content %}

<div class="row with-gaps">
    <div class=" black white-text width-border valign-wrapper z-depth-2 ">
        <div class="col s8 add_pd">
            <h4 class="deep-orange-text accent-3">Effectuer un devis en dessous</h4>
            <p>Voilà le nombre total de devis dejà fait</p>
        </div>
        <div class="col s4  center-align">
            <div class="icon z-depth-2">
                <i class="material-icons medium white-text  separate_two">receipt</i>
            </div>
            <div class="ajouter ">
                <p class=" big2 white-text">{{d_number|stringformat:"03d" }}</p>
            </div>
        </div>
    </div>
</div>

<div class="card-panel">

  <div class="card-content">
    <div class="row">
      <div class="col s6">
          <a href="{% url 'clients:clientPage' %}" name="clientID"
              class="btn-flat deep-orange-text accent-3 tooltipped" data-position="bottom"
              data-tooltip="Nouveau client">
              <i class="material-icons right">person_add</i>
              <b>Nouveau client</b>
          </a>
      </div>
      <div class="col s6">
        <a href="{% url 'dashboard:productPage' %}" name="productID"
            class="btn-flat deep-orange-text accent-3 tooltipped" data-position="bottom"
            data-tooltip="Nouveau produit">
            <i class="material-icons right">local_mall</i>
            <b>Nouveau Produit</b>
        </a>
      </div>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <!--- Form -->
        
        <div class="row">
          <div class="input-field col m5 mr-8 s10">
            {{ form.produit }}
          </div>

          <div class="input-field col m5 mr-8 s10">
            {{ form.client }}
          </div>
        </div>

      <div class="row center-align">
        <div class="input-field col m4 s12">
          {{ form.price }}
          <label for="{{ form.price.id_for_label }}">Prix de vente </label>
        </div>

        <div class="input-field col m4 s12">
          {{ form.quantity }}
          <label for="{{form.quantity.id_for_label}}">Quantité</label>
        </div>

        <div class="input-field col m4 s12">
          {{ form.price_remise }}
          <label for="{{form.price_remise.id_for_label}}">Remise</label>
        </div>
      </div>

      <div class="col s12">
        <button class="waves-effect waves-green btn-flat black" type="submit">
          <i class="material-icons right deep-orange-text accent-3 right">thumb_up_alt</i>
          <b class="deep-orange-text accent-3">Enregistrer</b>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
    <div id="man" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Liste Des Devis</span>
                <div class="actions">
                    <!-- Here is where we should make the linking-->
                    <a href="#man" class="search-toggle waves-effect btn-flat nopadding"><i
                            class="material-icons">search</i></a>
                </div>
            </div>
            <table id="datatable" class="responsive-table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Achat Total</th>
                        <th>Date de vente</th>
                        <th>Devis</th>
                        <th>Actions</th>
                        {% if user.is_superuser %}
                        <th>Supprimer</th>
                        {% endif %}
                        <th>Transfert <br /> en Facture</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in devis %}
                    <tr>
                        <td class=''> {{ d.client__fname }} </td>
                        <td class=''> {{ d.client__lname }}</td>
                        <td class=''> {{ d.total }} </td>
                        <td class=''> {{ d.c_date|date:"SHORT_DATE_FORMAT"}} </td>
                        <td class=''>
                            <a href="{% url 'devis:tirerDevisPage' d.client__pk d.c_date.day d.c_date.month d.c_date.year %}" class="deep-orange-text accent-3 waves-effect btn-flat tooltipped"
                                data-position="left" data-tooltip="Faire un devis">
                                <span class="material-icons ">receipt</span>
                            </a>
                        </td>
                        <td class="black-text">
                            <a href="#!"
                                class="black-text accent-3 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Voir"><span class="material-icons">visibility</span>
                            </a>       
                        <td>
                            <label class="">
                                <input type="checkbox" name='vente_id[]' value='{{v.client__pk}}' id='delete_vente' />
                                <span></span>
                            </label>
                        </td>
                        <td class=''>
                            <a href="" class="deep-orange-text accent-3 waves-effect btn-flat tooltipped" data-position="left"
                                data-tooltip="Transfert en tant que facture">
                                <span class="material-icons ">multiple_stop</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock body_content %}

{% block javascripts %}
<script>
    var dataset_client = JSON.parse('{{dataset_client}}')
</script>
<script type="text/javascript" src="{% static 'dashboard/js/chartClient.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/datatables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/materialize_setup.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'dashboard/js/select2Select.js' %}"></script>
{% endblock javascripts %}